<section class="about-section">
    <div class="about-content">
      <h2>Thanks for about us</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae justo eget quam congue fringilla.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora amet harum voluptates ullam molestias dignissimos cumque necessitatibus quis!
        Quo, vitae vel? Officia amet reprehenderit, ea sequi aliquam cupiditate est recusandae!
      </p>
      <p>Here are a few things I love:</p>
      <ul>
        <li>Football</li>
        <li>Cricket</li>
        <li>voliball</li>
      </ul>
    </div>
    <div class="profile-image">
      <img src="assets/img/istockphoto-1097457362-612x612.jpg" alt="Profile Picture">
    </div>
  </section>
  <section class="about-section">
    <div class="about-content">
      
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae justo eget quam congue fringilla.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora amet harum voluptates ullam molestias dignissimos cumque necessitatibus quis!
        Quo, vitae vel? Officia amet reprehenderit, ea sequi aliquam cupiditate est recusandae!
        </p>
        <hr>

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque libero magni necessitatibus veniam ut, sed ea, dolore voluptates corrupti perferendis amet beatae similique eligendi, quaerat fuga? Similique ratione ex perferendis!
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sit, autem soluta amet ipsam eius voluptates quibusdam delectus provident magnam repudiandae, nostrum eos, fugiat a dicta esse maxime maiores distinctio!
        

        <div class="profile-image">
          <img src="assets/img/istockphoto-647630040-612x612.jpg" alt="Profile Picture">
        </div>
        <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente libero repellat placeat reiciendis error, eligendi magnam officia est
      aliquid asperiores officiis sequi consectetur architecto aliquam quibusdam quo laborum, quis consequatur?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque dolor, magnam tenetur animi enim ipsa nam amet mollitia a doloremque, 
      voluptatibus alias corrupti. Asperiores tempora id, cum repudiandae minus quo.
      </p>
      <p>Here are a few things v that you bettr the ----</p>
      
    </div>
    
  </section>
  
      
  